 <script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
 <script src="/vendor/chui/chui-3.0.6.js"></script>

 <section class='notifications'>
    <ul class='list'>
        <li class='comp'>
           <div>
              <h3>Friend Request</h3>
           </div>
           <aside>
              <span class="switch on" id="beepSwitch">
                  <input type="checkbox" value="Beep" name="beepSwitch">
              </span>
           </aside>
        </li>
        <li class='comp'>
           <div>
              <h3>Group Invite</h3>
           </div>
           <aside>
              <span class="switch" id="toneSwitch">
                 <input type="checkbox" value="High Tone" name="toneSwitch">
              </span>
           </aside>
        </li>
        <li class='comp'>
           <div>
              <h3>Announcement</h3>
           </div>
           <aside>
              <span class="switch" id="toneSwitch">
                 <input type="checkbox" value="High Tone" name="toneSwitch">
              </span>
           </aside>
        </li>
        <li class='comp'>
           <div>
              <h3>Event</h3>
           </div>
           <aside>
              <span class="switch" id="toneSwitch">
                 <input type="checkbox" value="High Tone" name="toneSwitch">
              </span>
           </aside>
        </li>
     </ul>
 </section>