 <script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
 <script src="/vendor/chui/chui-3.0.6.js"></script>

  <section>
    <header>
        <div id='segmentedPanel' class='horizontal centered'></div>
    </header>
     <div id="toggle-panels">
        <div data-role="content" class="content-padded content">
            <div class="buttonContainer">
                <button class="topcoat-button start">Start Tracking</button>
                <button class="topcoat-button stop">Stop Tracking</button>  
            </div>
        </div>
         <div data-role="content" class="content">
             <div id="map_canvas" class="map"></div>
        </div>
        <div data-role="content" class="content">
             <div id="map_canvas2" class="map"></div>
        </div>
     </div>
  </section>
  