 <script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
 <script src="/vendor/chui/chui-3.0.6.js"></script>
 <script>
    // chui segmented list
      $(function() {
         var segmentedOptions = {
            id: 'mySegmented',
            labels : ['Stats','Map','History'],
            selected: 2
         };
         var segmentedResponse = function(e) {
            e.stopPropagation();
            $('#output').find('h3 > span').html(($(this).index() + 1));
         };
         var newSegmented = $.UICreateSegmented(segmentedOptions);
         $('#segmentedPanel').append(newSegmented);
         $('.segmented').UISegmented({callback:segmentedResponse});
         $('.segmented').UIPanelToggle('#toggle-panels',function(){$.noop;});
         var selectedPanel = $('.segmented').find('.selected').index();
         $('#output').find('span').html(selectedPanel + 1);
      });
  </script>

  <section>
     <div id='segmentedPanel' class='horizontal centered'></div>
     <div id="toggle-panels">
        <div><!-- panel 1 -->
           <ul class='list'>
              <li class='comp'>
                 <div data-role="content"> 
                    <p id="startTracking_status"></p>
                    <div data-role="fieldcontain" class="ui-hide-label">
                        <label for="track_id">Track ID/Name:</label>
                        <input type="text" name="track_id" id="track_id" placeholder="Workout ID/Name"/>
                    </div>
                    <br><br><br><br>
                    <button class="topcoat-button" ontouchend="startTracking_start()">Start Tracking</button>
                    <button class="topcoat-button" ontouchend="startTracking_stop()">Stop Tracking</button>  

                    <p id="startTracking_debug"></p>
                 </div>
              </li>
           </ul>   
        </div>
         <div data-role="content"> 
             <!-- map canvas-->
             <div id="map_canvas" style="position:absolute;bottom:0;left:0;width:100%;height:457px;"></div>
             <!-- <p id="geolocation">Watching geolocation...</p>-->
        </div>
        <div><!-- panel 3 -->
           <ul class='list'>
              <li class='comp'>
           <aside>
              <img title='Willy Moon' src="../images/music/Willy Moon.png" height="80px">
           </aside>
           <div>
              <h3>Willy Moon</h3>
              <h4>Yeah Yeah</h4>
                 <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
                 </div>
              </li>
           </ul>   
        </div>
     </div>
<!--
     <ul class='list' id='output'>
        <li>
           <h3>You selected panel: <span></span>.</h3>
        </li>
     </ul>
-->
  </section>