<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<article id='main'>
    <section class='profile friend'>
<!--
        <nav>
            <ul>
                <li class='back_btn topcoat-button'>Back_btn</li>
                <li class='settings_btn topcoat-button'>Settings_btn</li>
            </ul>
        </nav>
-->
        <section class='body'>
            <header>
                <img src='/images/profile/profile_placeholder.png'/>
            </header>
            <h3>Name</h3>
            <aside>
                <span class='location'></span>
            </aside>
            <h4>Location</h4>
            <ul class='riding-styles'>
                <li>Downhill</li>
                <li>Freeride</li>
                <li>Enduro</li>
            </ul>
            <ul class='riding-stats'>
                <li>2<span>RIDES</span></li>
                <li>23<span>KM</span></li>
                <li>0:53<span>TIME</span></li>
                <li>23<small>km/h</small><span>AVG SPEED</span></li>
            </ul>
        </section>
        <section class='activity'>
            <h3>LATEST ACTIVITY</h3>
        </section>
    </section>
</article>
<div class="friend action-sheet">
  <div class="action-sheet-content">
    <a class="action-sheet-button mute_btn">Mute</a>
    <a class="action-sheet-button block_btn">Block</a>
    <a class="action-sheet-button cancel_btn">Cancel</a>
  </div>
</div>
    <div class="alert">
      <!-- The top margin must be set to 50% of the alert's height using JavaScript. -->
      <div class="alert-content" style="margin-top: -85px;">
        <h3>Mute friend_name</h3>
          <p>You will stop getting notifications from friend_name. You can still see posts in your stream or on their profile.</p>
        <div class="alert-buttons">
          <a class="alert-button right primary">Mute</a>
          <a class="alert-button left">Cancel</a>
        </div>
      </div>
    </div>

<!--<div class="content-padded">

    <h1>Camera Example</h1>
    <hr>
    <div class="topcoat-button--cta full center" ontouchend="capturePhoto()">Capture photo</div>
    <br><br>
    <div class="topcoat-button full center" ontouchend="chooseImage()">Choose from Photo Library</div>
    <br><br>
    <img id="photo">
    <img id="spinner" src="vendor/topcoat/img/spinner2x.png">

</div>-->