<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>
<script>
 // chui selectable list
   $(function() {
      $('.list').UISelectList({
         selected: 2,
         callback: function() {
            $("#response").html($(this).text());
         }
      });
      if (window.jQuery) {
        $('li').each(function(idx, ctx) {
           if ($(ctx).hasClass('selected')) {
              $("#response").html($(ctx).text());
           }
        });
      } else {
        $("#response").html($('li').hasClass('selected').text());
      }
  });
</script>

<div class="content-padded"> 
    <p>Who do you wan't seeing your profile?</p>  
</div>

<section>
     <ul class='list'>
        <li>
           <h3>Everyone</h3>
        </li>
        <li>
           <h3>Friends</h3>
        </li>
        <li>
           <h3>Private</h3>
        </li>
     </ul>
     <p><strong>Your privacy is set to: </strong><span id="response"></span></p>
</section>