<section class='settings'>
    <div class='cogs'></div>
    <ul class='list' role='list'>
        <li class='comp privacy_btn' ontouchend='showPrivacy()'>
            <aside>
                <span class='lock'></span>
            </aside>
            <div>
              <h3>Privacy</h3>
            </div>
            <aside>
              <span class='nav'></span>
            </aside>
        </li>
        <li class='comp feedback_btn' ontouchend='showFeedback()'>
            <aside>
                <span class='megaphone'></span>
            </aside>
            <div>
              <h3>Feedback</h3>
            </div>
            <aside>
              <span class='nav'></span>
            </aside>
        </li>
        <li class='comp notifications_btn' ontouchend='showNotifications()'>
            <aside>
                <span class='alert'></span>
            </aside>
            <div>
              <h3>Notifications</h3>
            </div>
            <aside>
              <span class='nav'></span>
            </aside>
        </li>
    </ul>
</section>