<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<article id='main'>
    <section class='edit_profile'>
        <div class="top-bar">
            <h1 class="top-bar-title">Lists</h1>
            <a href="" class="top-bar-link left icon-only icon-plus">New</a>
            <a href="" class="top-bar-link right icon-only icon-up">Up</a>
            <span class="top-bar-link right icon-only icon-down disabled">Down</span>
        </div>
        <nav class="top-bar-sub tabs tabs-three">
            <a href="list-1.html" class="tabs-link active">Settings
            </a><a href="list-2.html" class="tabs-link">Messages
            </a><a href="list-3.html" class="tabs-link">Contacts</a>
        </nav>
        <div class="topcoat-button--cta center" ontouchend="backToPeople()">Capture photo</div>    
    </section>
</article>