<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<section>
    <div id='segmentedPanel' class='horizontal centered'></div>
    <div id="toggle-panels">
        <div class="timer-ui">
            <div id="timer">00:00:00</div>
            <div class="socket">
              <div class="timer_btn"></div>
            </div>
            <div class="socket2 hide">
              <span class="fin_txt">Finish</span>
            </div>
        </div>
         <div data-role="content" class="content">
             <div id="map_canvas" class="map"></div>
        </div>
        <div data-role="content" class="content">
             <div id="map_canvas2" class="map"></div>
        </div>
    </div>
</section>
