<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<section class='ride'>
    <nav class="top-bar">
        <div id='segmentedPanel' class='horizontal centered'></div>
    </nav>
    <div id="toggle-panels">
        <!-- Map -->
        <div data-role="content" class="content">
             <div id="map_canvas" class="map"></div>
        </div>
        <!-- Stats -->
        <div class="timer-ui">
            <div>
                <img src='/images/icons/gps@2x.png'><aside>Gps</aside>
            </div>
            <div>
                <span>km</span><div id="distance">0</div><aside>Distance</aside>
            </div>
            <div>
                <span>km/h</span><div id="avg_speed">0</div><aside>Avg Speed</aside>
            </div>
            <div>
                <div id="timer">00:00:00</div><aside>Time</aside>
            </div>
            <div class="socket">
              <div class="timer_btn"></div>
            </div>
            <div class="socket2 hide">
              <span class="fin_txt">Finish</span>
            </div>
        </div>
        <!-- History  -->
        <div data-role="content" class="content history">
            <div id="wrapper">
                <div id="scroller">
                    <div>
                        <h2 class="today">Today</h2>
                    </div>
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="/images/profile/map1@2x.png">
                            <h2>Steyning Shred</h2>
                            <span class="map_path"></span>
                            <p>11km</p>
                            <span class="speedo"></span>
                            <p>21km/h</p>
                            <span class="stopwatch"></span>
                            <p>31:37</p>
                        </a>
                    </div>
                    <div>
                        <h2>01/03/2014</h2>
                    </div>
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="/images/profile/map2@2x.png">
                            <h2>Leogang</h2>
                            <span class="map_path"></span>
                            <p>9.9km</p>
                            <span class="speedo"></span>
                            <p>19km/h</p>
                            <span class="stopwatch"></span>
                            <p>29:02</p>
                        </a> 
                    </div>
                    <div>
                        <h2>29/02/2014</h2>
                    </div>
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="/images/profile/map3@2x.png">
                            <h2>Decoy quick ride</h2>
                            <span class="map_path"></span>
                            <p>3.5km</p>
                            <span class="speedo"></span>
                            <p>20km/h</p>
                            <span class="stopwatch"></span>
                            <p>10:02</p>
                        </a> 
                    </div>
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="/images/profile/map3@2x.png">
                            <h2>Decoy quick ride 2</h2>
                            <span class="map_path"></span>
                            <p>2.2km</p>
                            <span class="speedo"></span>
                            <p>19km/h</p>
                            <span class="stopwatch"></span>
                            <p>11:03</p>
                        </a> 
                    </div>
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="/images/profile/map3@2x.png">
                            <h2>Decoy quick ride 3</h2>
                            <span class="map_path"></span>
                            <p>2.5km</p>
                            <span class="speedo"></span>
                            <p>21km/h</p>
                            <span class="stopwatch"></span>
                            <p>09:15</p>
                        </a> 
                    </div>
                    <div class="ion-button phantom"></div>
                </div>
            </div>
        </div>
    </div>
</section>
