<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<section>
    <nav class="top-bar">
        <div id='segmentedPanel' class='horizontal centered'></div>
    </nav>
    <div id="toggle-panels">
        <!-- Stats -->
        <div class="timer-ui">
            <div id="timer"><span class='timer-icon'></span>00:00:00</div>
            <span>km/h</span><div id="avg_speed">0.00</div>
            <span>km</span><div id="distance">0.0</div>
            <div class="socket">
              <div class="timer_btn"></div>
            </div>
            <div class="socket2 hide">
              <span class="fin_txt">Finish</span>
            </div>
        </div>
        <!-- Map -->
        <div data-role="content" class="content">
             <div id="map_canvas" class="map"></div>
        </div>
        <!-- History  -->
        <div data-role="content" class="content">
            <div id="wrapper">
                <div id="scroller">
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="/images/profile/map1@2x.png">
                            <h2>Steyning Shred</h2>
                            <p>Today</p>
                            <span class="map_path"></span>
                            <p>11km</p>
                            <span class="speedo"></span>
                            <p>21km/h</p>
                            <span class="stopwatch"></span>
                            <p>31:37</p>
                        </a>
                    </div>
                    <div class="ion-list card">
                        <div class="item item-avatar">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Marty McFly</h2>
                            <p>November 05, 1955</p>
                        </div>
                        <div class="item item-body">
                            <img class="full-image" src="/images/music/Willy Moon.png">
                            <p>
                            This is a "Facebook" styled Card.
                            </p>
                            <p>
                                <a href="#" class="subdued">1 Like</a>
                                <a href="#" class="subdued">5 Comments</a>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsup"></i>
                                Like
                            </a>
                                <a class="tab-item" href="#">
                                <i class="icon ion-chatbox"></i>
                                Comment
                            </a>
                                <a class="tab-item" href="#">
                                <i class="icon ion-share"></i>
                                Share
                            </a>
                        </div>
                    </div>
<!--                    <button class="ion-button button-block button-light">Create new group</button>-->
                    <div class="ion-button phantom"></div>
                </div>
            </div>
        </div>
    </div>
</section>
