<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<article id='main'>
    <section class='edit_profile'>
         <ul class="list profile_pic">
             <li class='comp' data-goto>
               <aside>
                  <img title='Imagine Dragons' src="/images/music/Kiss.png" height="45px">
               </aside>
               <div>
                  <h3>Profile Picture</h3>
               </div>
            </li>
         </ul>
         <ul class='list'>
            <li class='comp' data-goto='people'>
               <div>
                  <h3>First Name</h3>
               </div>
               <aside>
                  <h4>first_name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp' data-goto='places'>
               <div>
                  <h3>Last Name</h3>
               </div>
               <aside>
                  <h4>last_name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp' data-goto='animals'>
               <div>
                  <h3>Username</h3>
               </div>
               <aside>
                  <h4>user_name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp' data-goto='cooking'>
               <div>
                  <h3>Riding Stles</h3>
               </div>
               <aside>
                  <h4>riding_styles</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp' data-goto='food'>
               <div>
                  <h3>Location</h3>
               </div>
               <aside>
                  <h4>Brighton</h4>
                  <span class='nav'></span>
               </aside>
            </li>
         </ul>            
      </section>
</article>