<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<article id='main'>
    <section class='edit_profile'>
         <ul class="list profile_pic">
             <li class='comp profile_pic_btn' data-goto>
               <aside>
                  <img title='Imagine Dragons' src="/images/music/Kiss.png" height="35px">
               </aside>
               <div>
                  <h3>Profile Picture</h3>
               </div>
            </li>
         </ul>
         <ul class='list first_name_btn'>
            <li class='comp' data-goto='people'>
               <div>
                  <h3>First Name</h3>
               </div>
               <aside>
                  <h4>first_name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp last_name_btn' data-goto='places'>
               <div>
                  <h3>Last Name</h3>
               </div>
               <aside>
                  <h4>last_name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp username_btn' data-goto='animals'>
               <div>
                  <h3>Username</h3>
               </div>
               <aside>
                  <h4>user_name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp riding_styles_btn' data-goto='cooking'>
               <div>
                  <h3>Riding Stles</h3>
               </div>
               <aside>
                  <h4>riding_styles</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp location_btn' data-goto='food'>
               <div>
                  <h3>Location</h3>
               </div>
               <aside>
                  <h4>Brighton</h4>
                  <span class='nav'></span>
               </aside>
            </li>
         </ul>            
      </section>
</article>
<div class="friend action-sheet">
  <div class="action-sheet-content">
    <a class="action-sheet-button take_photo_btn">Take Photo</a>
    <a class="action-sheet-button choose_photo_btn">Choose Existing Photo</a>
    <a class="action-sheet-button cancel_btn">Cancel</a>
  </div>
</div>