<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<header class='header'></header>
<article class='profile' id='main'>
    <nav class="clear-bar">
        <div id='segmentedPanel' class='horizontal centered segmented-grey'></div>
    </nav>
    <section>
        <div id="toggle-panels" id="wrapper">
            <!-- Friends -->
            <div class="">  
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
                1<br>
            </div>
            <!-- Groups -->
            <div data-role="content">
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
                2<br>
            </div>
        </div>
    </section>
</article>
    
<div class="action-sheet">
  <div class="action-sheet-content">
    <a class="action-sheet-button log_out">Log Out</a>
    <a class="action-sheet-button cancel">Cancel</a>
  </div>
</div>