<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<article id='main'>
    <section class='profile '>
        <section class='body'>
            <header>
                <img src='/images/profile/profile_placeholder.png'/>
            </header>
            <h3>Name</h3>
            <aside>
                <span class='location'></span>
            </aside>
            <h4>Location</h4>
            <ul class='riding-styles'>
                <li>Downhill</li>
                <li>Freeride</li>
                <li>Enduro</li>
            </ul>
            <ul class='riding-stats'>
                <li>2<span>RIDES</span></li>
                <li>23<span>KM</span></li>
                <li>0:53<span>TIME</span></li>
                <li>23<small>km/h</small><span>AVG SPEED</span></li>
            </ul>
        </section>
        <section class='activity'>
            <h3>LATEST ACTIVITY</h3>
        </section>
    </section>
</article>
    <div class="action-sheet">
      <div class="action-sheet-content">
        <a class="action-sheet-button log_out">Log Out</a>
        <a class="action-sheet-button cancel">Cancel</a>
      </div>
    </div>
    
    
<!--<div class="content-padded">

    <h1>Camera Example</h1>
    <hr>
    <div class="topcoat-button--cta full center" ontouchend="capturePhoto()">Capture photo</div>
    <br><br>
    <div class="topcoat-button full center" ontouchend="chooseImage()">Choose from Photo Library</div>
    <br><br>
    <img id="photo">
    <img id="spinner" src="vendor/topcoat/img/spinner2x.png">

</div>-->