<section class='profile'>
    <section class='main'>
        <header>
            <img src='/images/profile/profile.png'/>
        </header>
        <h3>Name</h3>
        <aside>
            <span class='location-icon'></span>
        </aside>
        <h4>Location</h4>
        <ul class='riding-styles'>
            <li>Downhill</li>
            <li>Freeride</li>
            <li>Enduro</li>
        </ul>
        <ul class='riding-stats'>
            <li>2<span class='metric'>RIDES</span></li>
            <li>23<span class='metric'>KM</span></li>
            <li>0:53<span class='metric'>TIME</span></li>
            <li>23<small>km/h</small><span class='metric'>AVG SPEED</span></li>
        </ul>
        <section class='activity'>
            <h3>LATEST ACTIVITY</h3>
        </section>
    </section>
</section>

<!--<div class="content-padded">

    <h1>Camera Example</h1>
    <hr>
    <div class="topcoat-button--cta full center" ontouchend="capturePhoto()">Capture photo</div>
    <br><br>
    <div class="topcoat-button full center" ontouchend="chooseImage()">Choose from Photo Library</div>
    <br><br>
    <img id="photo">
    <img id="spinner" src="vendor/topcoat/img/spinner2x.png">

</div>-->