 <script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
 <script src="/vendor/chui/chui-3.0.6.js"></script>
 <script>
    // chui switches
    $(function() {
         // Set response to last checked switch:
         $('.switch').each(function(ctx, idx) {
            if (window && window.jQuery) ctx = idx;
            if (ctx.classList.contains('on')) {
               $('#response').html($(ctx).find('input').val());
            }
         });

         $('.switch').on('singletap swipeleft swiperight', function() {
            if (this.classList.contains('on')) {
               $('#response').html($(this).find('input').val());
            } else {
               $('#response').empty();
            }
         });
      });
 </script>s
 <script>
 // chui selectable list
   $(function() {
      $('.tick').UISelectList({
         selected: 2,
         callback: function() {
            $("#response").html($(this).text());
         }
      });
      if (window.jQuery) {
        $('.select').each(function(idx, ctx) {
           if ($(ctx).hasClass('selected')) {
              $("#response").html($(ctx).text());
           }
        });
      } else {
        $("#response").html($('li').hasClass('selected').text());
      }
  });
 </script>

 <section>
    <ul class='list'>
        <li class='comp'>
           <div>
              <h3>Audio Feedback</h3>
           </div>
           <aside>
              <span class="switch on" id="beepSwitch">
                  <input type="checkbox" value="Beep" name="beepSwitch">
              </span>
           </aside>
        </li>
    </u>
 </section>
 <section>
     <ul class='list tick select'>
        <li>
           <h3>Male</h3>
        </li>
        <li>
           <h3>Female</h3>
        </li>
     </ul>
 </section>
 <section>
    <ul class='list'>
        <li class='comp'>
           <div>
              <h3>Beep</h3>
           </div>
           <aside>
              <span class="switch on" id="beepSwitch">
                  <input type="checkbox" value="Beep" name="beepSwitch">
              </span>
           </aside>
        </li>
        <li class='comp'>
           <div>
              <h3>High Tone</h3>
           </div>
           <aside>
              <span class="switch" id="toneSwitch">
                 <input type="checkbox" value="High Tone" name="toneSwitch">
              </span>
           </aside>
        </li>
     </ul>
 <!--<p><span><strong>Interval feedback is set to: </strong></span><span id="response"></span></p>-->
 </section>