<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<nav class="top-bar">
    <div id='segmentedPanel' class='horizontal centered'></div>
</nav>
<section class="people">
    <div id="toggle-panels" id="wrapper">
        <!-- Friends -->
        <div class="">  
            <div class="ion-list">
                <div id="wrapper">
                    <div id="scroller">
                        <div class="item item-divider">
                            A
                        </div>
                        <a class="item item-avatar friend_btn" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>                 
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>                
                        <div class="item item-divider">
                            B
                        </div>
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>                
                        <div class="item item-divider">
                            C
                        </div>
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>                
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                        <div class="item item-divider">
                            E
                        </div>
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>                
                        <a class="item item-avatar" href="#">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Groups -->
        <div data-role="content">
            <div id="wrapper2">
                <div id="scroller2">
                    <div class="card group_btn">
                        <div class="item item-avatar">
                            <img src="/images/music/Willy Moon.png">
                            <h2>Marty McFly</h2>
                            <p>November 05, 1955</p>
                        </div>
                    </div>
                    <div class="ion-list card">
                    <div class="item item-avatar">
                        <img src="/images/music/Willy Moon.png">
                        <h2>Marty McFly</h2>
                        <p>November 05, 1955</p>
                        </div>
                        <div class="item item-body">
                            <img class="full-image" src="/images/music/Willy Moon.png">
                            <p>
                            This is a "Facebook" styled Card.
                            </p>
                            <p>
                                <a href="#" class="subdued">1 Like</a>
                                <a href="#" class="subdued">5 Comments</a>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsup"></i>
                                Like
                            </a>
                                <a class="tab-item" href="#">
                                <i class="icon ion-chatbox"></i>
                                Comment
                            </a>
                                <a class="tab-item" href="#">
                                <i class="icon ion-share"></i>
                                Share
                            </a>
                        </div>
                    </div>
                    <button class="ion-button button-block button-light">Create new group</button>
               <div class="ion-button phantom"></div>
                </div>
            </div>
        </div>
    </div>
</section>
