<nav class="clear-bar">
    <h4>Notifications</h4>
</nav><section class="notifications">
    <ul class="clarity list clarity list-messages">
        <li class="clarity list-row clarity list-message">
            <div class="clarity list-message-img"></div>
            <h3 class="clarity list-messsage-title">Name</h3>
            <p class="clarity list-message-date">10:45</p>
            <p class="clarity list-message-count important">4</p>
            <p class="clarity list-message-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>        
        <li class="clarity list-row clarity list-message">
            <div class="clarity list-message-img"></div>
            <h3 class="clarity list-messsage-title">Name</h3>
            <p class="clarity list-message-date">10:45</p>
            <p class="clarity list-message-count important">4</p>
            <p class="clarity list-message-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
    </ul>
</section>